.write {
  padding-top: 50px;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  font-size: 20px;
  justify-content: center;
  display: flex;
  cursor: pointer;
  margin-right: 15px;
}

.writeInput {
  font-size: 30px;
  border: none;
  width: 70vw;
  padding: 20px;
}

.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
  height: 100vh;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: rgb(241, 96, 28);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;

}
